{% extends "layout.html" %}
{% block body %}
  <!-- Form
  ================================================== -->
<div class="form">
  <form action="/post" method="POST" enctype="multipart/form-data">
  
    <p style="margin-left:15px;">
      AIが写真から顔を検出します。(せいや、粗品に対応)
    </p>

    <input type = "file" name = "file"></input>
    <button type="submit" style="margin-top:5px;">顔検出開始！</button>
    <!-- <input type="submit" style="margin-top:5px;" value="顔検出開始！"></input> -->
        


  </form>
</div>
{% endblock %}